/* &display=swap */

@import "null.css";
@font-face {
	font-family: "Lato-Black";
	src: url("../fonts/Lato-Black.woff2") format("woff2"), url("../fonts/Lato-Black.woff") format("woff");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Lato-Bold";
	src: url("../fonts/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Lato-Regular";
	src: url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

body {
	position: absolute;
	width: 810px;
	height: 1594px;
	left: 345px;
	top: 152px;
}
.wraper {
	font-family: "Lato";
	font-weight: 400;
	font-size: 16px;
}
h1 {
	font-weight: 900;
	color: #1e212c;
	line-height: 60px;
	font-size: 46px;
	margin: 0 0 92px 0;
}
.pervy {
	font-weight: 700;
	font-size: 20px;
	margin: 60px 0 24px 0;
}
.block {
	line-height: 25.6px;
}
.block_ot {
	margin: 48px 0 48px 0;
	padding: 0 0 0 58px;
	font-weight: 700;
	font-size: 20px;
}
.vtor {
	margin: 48px 0 24px 0;
}
ul {
	margin: 0 0 24px 0;
	line-height: 25.6px;
}
